--extra-index-url https://download.pytorch.org/whl/cu126
accelerate
peft
ftfy
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
pyannote.audio>=4.0
omegaconf
fastapi[standard]
transformers
whisperx
dotenv
imageio
imageio-ffmpeg
git+https://github.com/huggingface/diffusers
